{% extends "base.html" %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="{{url_for('static', filename='stock.js')}}"></script>
{% endblock %}

{% block styles %}
<style>
        .card {
        border-radius: 1em;
        text-align: center;
        padding: 1em;
        }
        .card:hover {
        background-color: rgba(0, 0, 0, 0.1);
        }
        .card img {
        border-radius: 90%;
        width: 60%;
        margin: auto;
        }
        .rounded-img {
            width: 50%;
            border-radius: 50%;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
            padding: 0.5em;
            margin-bottom: 1em;
        }
        .rounded-card {
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
            padding: 0.5em;
            margin-bottom: 1em;
        }

    </style>
{% endblock %}

{% block content %}

<div class="container my-4">
    <div class="row justify-content-end">

        <form action="/stock/sort" method="post">
            <div class="row justify-content-start">
                <div class="col-1">
                    <input class="form-check-input" type="checkbox" name="flexRadio" id="flexRadioDefault1" checked>
                    <label class="form-check-label" for="flexRadioDefault1">
                        <h5>Free</h5>
                    </label>
                </div>
                <div class="col-2">
                    <select id="disabledSelect" class="form-select" name="Color">
                        <option value="{{ 'No color' }}">All color</option>
                        {% for color in colors %}
                            <option value="{{ color }}">{{ color }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-success">Apply</button>
                </div>
            </div>
        </form>

        <div class="col-1">
            <button class="btn btn-success" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">+ Add</button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                    <div class="offcanvas-header">
                        <h5 id="offcanvasRightLabel">Add an aerosol can</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <form action="/stock/add_balloon" method="post">
                                <div class="form-floating mb-2">
                                    <input type="text" class="form-control" name="firm" id="Firm" required>
                                    <label for="floatingInput">Firm</label>
                                </div>
                                <div class="form-floating mb-2">
                                    <input type="text" class="form-control" name="paint_code" id="paint_code" required>
                                    <label for="floatingPassword">Paint code</label>
                                </div>
                                <div class="form-floating mb-2">
                                    <input type="text" class="form-control" name="color" id="color" required>
                                    <label for="floatingPassword">Color</label>
                                </div>
                                <div class="form-floating mb-2">
                                    <input type="text" class="form-control" name="volume" id="volume" required>
                                    <label for="floatingPassword">Volume</label>
                                </div>
                                <div class="form-floating mb-2">
                                    <input type="number" class="form-control" name="weight" id="weight" required>
                                    <label for="floatingPassword">Weight</label>
                                </div>
                                <div class="form-floating mb-2">
                                    <select id="disabledSelect" class="form-select" name="project_id">
                                        {% for project in projects %}
                                            <option value="{{ project.uid }}">{{ project.name }}</option>
                                        {% endfor %}
                                    </select>
                                    <label for="floatingPassword">Project</label>
                                </div>
                                <button type="submit" class="btn btn-success">Add</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container my-2">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-5">
        {% for balloon, project_name in balloons %}
            <div class="card rounded-card m-1">
                <div class="row">
                    <div class="col">
                        <h5>Balloon: {{ balloon.uid }}</h5>
                    </div>
                    <div class="col">
                        <h4>{{ balloon.weight }}</h4>
                    </div>
                </div>
                <img src="/static/images/favicon/bal.webp" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">{{ project_name }}</h5>
                <h6>{{ balloon.color }}</h6>
                <a href="edit/{{ balloon.uid }}" class="btn btn-success rounded-card">Edit</a>
                <a href="#" class="btn btn-danger rounded-card" data-bs-toggle="modal" data-bs-target="#exampleModal">Delete</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>



    <div class="modal fade" id="deleteBalloonModal" role="dialog" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Удалить балончик</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{{ url_for('stock.delete') }}" method="POST">
                    <div class="form-group">
                        <input type="hidden" name="uid">
                        <small id="deleteBalloonInfo" class="form-text text-muted">info</small>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Delete</button>
                        </div>
                    </div>

                </form>
            </div>

            </div>
        </div>
        </div>
</div>
{% endblock %}
